/* CSS file */
Tree
{
	fontFamily: TAHOMA;
	fontSize: 11;
	color: #000000;
	disclosureOpenIcon: Embed(source="../images/collapse.gif");
	disclosureClosedIcon: Embed(source="../images/expand.gif");
	backgroundColor: #C8DBEE;
	borderColor: #BDD1E9;
	cornerRadius: 2;
	border-style:solid;
	rollOverColor: #FDF3CE;
	selectionColor: #FFD14E;
}
Box
{
	backgroundColor: #C8DBEE;
}
.BorderedBox
{
	backgroundColor: #C8DBEE;
	borderColor: #BDD1E9;
	cornerRadius: 2;
	border-style:solid;
}
Application
{
	backgroundGradientAlphas: 0.5, 0.5;
	backgroundGradientColors: #BDD8FC, #BDD8FC;
	fontFamily: SEGOEUI;
	color: #54429E;
}
Button
{
	borderColor: #7597C0;
	cornerRadius: 2;
	themeColor: #D9C176;
	fillAlphas: 1.0, 1.0;
	fillColors: #CDDEF5, #BDD1E9, #FDF3CE, #FFD14E;
	fontFamily: TAHOMA;
	fontSize: 11;
	fontWeight: normal;
	color: #154299;
	textRollOverColor: #154299;
	textSelectedColor: #154299;
	disabledColor: #717171;
}
LinkButton
{
	cornerRadius: 0;
}
LinkBar
{
	fontFamily: TAHOMA;
	fontSize: 11;
	borderColor: #7597C0;
	rollOverColor: #FDF3CE;
	selectionColor: #FFD14E;
}

Panel
{
	borderColor: #BDD1E9;
	cornerRadius: 2;
	borderAlpha: 1.0;
	backgroundColor: #C8DBEE;
	fontFamily: TAHOMA;
	fontSize: 11;
	color: #154299;
	controlBarStyleName: panelControlBar;
	titleStyleName: panelTitle;
	headerColors: #D1E1F6, #BDD1E9;
	footerColors: #88a6cb, #0a4c8f;
	borderThicknessLeft: 0;
	borderThicknessRight: 0;
}

@font-face
{
	fontFamily: SEGOEUI;
	fontWeight: normal;
	fontStyle: normal;
	src: url("../fonts/TAHOMA.TTF");
}
ScrollBar
{
	borderColor: #6E90B8;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #9BBCE7, #7CAFF1, #F9EEC5, #FFD24E;
	trackColors: #C9DAF2, #C9DAF2;
}


ComboBox
{
	borderColor: #7597C0;
	themeColor: #D9C176;
	fillAlphas: 1.0, 1.0;
	fillColors: #CDDEF5, #BDD1E9, #FDF3CE, #FFD14E;
	fontFamily: TAHOMA;
	fontWeight: normal;
	fontSize: 11;
	color: #154299;
	textRollOverColor: #154299;
	textSelectedColor: #154299;
	disabledColor: #757575;
}
TitleWindow
{
	controlBarStyleName: titleWindowControlBar;
	titleStyleName: titleWindowTitle;
	cornerRadius: 2;
	backgroundColor: #C8DBEE;
	borderColor: #D1E1F6;
	color: #154299;
	headerColors: #D1E1F6, #BDD1E9;
	footerColors: #88a6cb, #0a4c8f;
	borderThicknessLeft: 0;
	borderThicknessRight: 0;
}

.panelControlBar
{
	fontFamily: TAHOMA;
	fontWeight: bold;
	fontSize: 12;
}
.panelTitle
{
	fontFamily: TAHOMA;
	fontWeight: bold;
	fontSize: 11;
	color: #154299;
}
.titleWindowControlBar
{
	fontFamily: TAHOMA;
	fontWeight: bold;
	fontSize: 11;
	color: #154299;
}
TabBar
{
	fontFamily: TAHOMA;
	fontSize: 11;
	color: #154299;
	disabledColor: #959595;
	selectedTabTextStyleName: tabBarSelectedTabText;
	tabStyleName: tabBarTab;
	firstTabStyleName: tabBarFirstTab;
	lastTabStyleName: tabBarLastTab;
}
TabNavigator
{
	borderColor: #6E90B8;
	backgroundColor: #C8DBEE;
	color: #154299;
	tabStyleName: tabNavigatorTab;
}
.titleWindowTitle
{
	fontFamily: TAHOMA;
	fontWeight: bold;
	fontSize: 11;
	color: #154299;
}

.tabBarSelectedTabText
{
	fontFamily: TAHOMA;
	color: #154299;
	fontWeight: bold;
	fontSize: 11;
}

.tabBarTab
{
}
Accordion
{
	color: #000000;
	fontFamily: TAHOMA;
	fontSize: 11;
	fontWeight: bold;
	headerStyleName: accordionHeader;
	selectedFillColors: #FFF2C9, #FFD193;
	borderColor: #000080;
	backgroundColor: #C7DAF0;
}
Text
{
	color: #154299;
	fontFamily: TAHOMA;
	fontSize: 11;
}
Label
{
	fontFamily: TAHOMA;
	fontSize: 11;
	color: #154299;
}
TextArea
{
	borderColor: #6E90B8;
	backgroundColor: #CEE0F5;
	backgroundDisabledColor: #A3C2EA;
	color: #154299;
	disabledColor: #093693;
	fontFamily: TAHOMA;
	fontSize: 11;
}
ApplicationControlBar
{
	fillAlphas: 1.0, 1.0;
	fillColors: #ABC8F6, #87ADE4;
	backgroundDisabledColor: #7E9CB8;
	color: #000000;
	fontSize: 11;
	fontFamily: TAHOMA;
	fontWeight: bold;
	dropShadowEnabled: true;
}
.tabBarFirstTab
{
}
.tabBarLastTab
{
}
.tabNavigatorTab
{
}
TextInput
{
	color: #154299;
	fontFamily: TAHOMA;
	fontSize: 11;
	disabledColor: #07286A;
	backgroundColor: #CEE0F5;
	backgroundDisabledColor: #A3C2EA;
	borderColor: #8AADDB;
}
CheckBox
{
}
RadioButton
{
}
Menu
{
	rollOverColor: #FFEDC2;
	selectionColor: #FFD193;
	color: #154299;
	fontFamily: TAHOMA;
	fontSize: 11;
	borderColor: #000080;
	backgroundColor: #F6F6F6;
	separatorSkin: Embed(source="../images/MenuSeparator.png");
}
DataGrid
{
	headerColors: #E3F7FF, #93C9E3;
	borderColor: #000080;
	fontFamily: TAHOMA;
	fontSize: 11;
	color: #154299;
	headerStyleName: dataGridHeader;
	selectionColor: #FFD193;
	rollOverColor: #FFEDC2;
	alternatingItemColors: #FFFFFF, #FFFFFF;
	verticalAlign: middle;
}
ProgressBar
{
	borderColor: #023B73;
	barColor: #1CE032;
	verticalGap: 0;
	trackHeight: 10;
	color: #154299;
	fontWeight: normal;
	fontFamily: verdana;
	fontSize: 9;
	textAlign: center;
}

MenuBar
{
	fillAlphas: 1.0, 1.0;
	fillColors: #ABC8F6, #87ADE4, #FFF2C9, #FFD193;
	fontFamily: TAHOMA;
	fontSize: 11;
	color: #154299;
	borderColor: #000080;
}
@font-face
{
	fontFamily: TAHOMA;
	fontWeight: normal;
	fontStyle: normal;
	src: url("../fonts/TAHOMA.TTF");
}

